html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	overflow: hidden;
	background-color: #000;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	line-height:28px;
	text-align: left;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

h2 {font-size: 24px; line-height:28px;}

a, a:visited, a:active {text-decoration:none; color:#fff;  border-bottom: 1px #282828 dotted;}
a:hover {text-decoration:none; color:#ffcccc; border-bottom: 1px #ffcccc dotted;}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-top:40px;
}

li { margin-bottom:2px;}


.hdln {
	border-bottom:2px solid #fff;
}

